<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Trabalho de Web</title>
    <link rel="stylesheet" href="../../static/cadEstStyle.css">
    <link rel="stylesheet" href="../../static/global.css" />
    <link href="web.js">
</head>
    <body> 
      <form id="test">
        
        <h2>Cadastrar Estudante</h2>
        <label for="estudanteID">ID/Matrícula:</label>
        <input type="text" id="estudanteID">
        <label for="nomeCompletoEstudante">Nome Completo:</label>
        <input type="text" id="nomeCompletoEstudante">
        <label for="emailEstudante">Email:</label>
        <input type="email" id="emailEstudante">
        <label for="anoEgressoEstudante">Ano de Egresso:</label>
        <input type="text" id="anoEgressoEstudante">
        <button  type="submit">Cadastrar e Emitir</button>
      </form>  
</body>
</html>